@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@import './syntax-highlighting.css';
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-900 font-poppins w-full h-full;
  }
  #post h2 {
    @apply text-gray-50 text-3xl font-medium my-8;
  }
  #post h3 {
    @apply text-gray-50 font-medium text-2xl my-6;
  }
  #post p {
    @apply text-gray-300  text-lg my-4;
  }
  #post a {
    @apply cursor-pointer underline decoration-purple-500 hover:decoration-green-500;
  }
  #post ul {
    @apply list-disc;
  }
  #post li {
    @apply text-gray-100 mx-6 font-medium;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #656065 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #656065;
  border-radius: 10px;
  border: 1px solid transparent;
}
